/* :root {
  --azul_claro: #1591dc;
  --azul_oscuro: #2c5ead;
  --azul_mas_clarito: #4bb8fa;
  --clarito: #c4e2f5;
} */
:root {
  --grizesito: #2d2d2d;
  --negrito: #181818;
  --negrito_mas_claro: #262626;
  --blanquito: #e6e4e4;
}
* {
  scrollbar-width: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--negrito);
}

#body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--negrito);
}

#header {
  display: flex;
  background-color: var(--grizesito);
  min-height: 15vh;
  width: 100%;
  max-width: 100vw;
  position: sticky;
  padding: 10px;
  z-index: 100;
  gap: 5px;
  flex-direction: row;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 20px var(--grizesito);
}

#footer {
  position: absolute;
  bottom: 0px;
  border-top: 2.5px solid var(--blanquito);
  background-color: var(--grizesito);
  height: 100px;
  min-width: 100vw;
}

a {
  font-size: 23px;
  /* text-decoration: none; */
  color: white;
}
#primary {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--negrito);
  min-height: 49vh;
  height: stretch;
  width: 100vw;
}
#second {
  background-color: var(--negrito);
  min-height: 49vh;
  height: stretch;
  width: 100vw;
}
#card {
  background-color: var(--grizesito);
  height: stretch;
  margin: 10px;
  width: 100vw;
}
